<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
</head>
<body>

    <div class="container" id="content">

        <h1>Senate Vote Count &mdash; {{ name | escape }} </h1>

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Run</th>
                            <td>{{ description | escape }}</td>
                        </tr>
                        <tr>
                            <th>Total papers</th>
                            <td>{{ counter.total_papers | numberfmt }}</td>
                        </tr>
                        <tr>
                            <th>Vacancies</th>
                            <td>{{ counter.vacancies | numberfmt }}</td>
                        </tr>
                        <tr>
                            <th>Quota for election</th>
                            <td>{{ counter.quota | numberfmt }}</td>
                        </tr>
                        <tr>
                            <th>Executed</th>
                            <td>{{ dt.strftime("%Y-%m-%d %H:%M") | escape }}</td>
                        </tr>
                        <tr>
                            <th>Rounds of counting</th>
                            <td>{{ number_rounds | numberfmt }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% for round in rounds %}

        <a name="round{{round.number|escape}}"></a>
        <h2>Round {{round.number|numberfmt}}</h2>


            {% if round.post %}
            <ul>
                {% for post in round.post %}
                    <li>{{ post | escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        {% endfor %}

        <div class="row">
        <pre>{% for item in log %}{{ item.line|escape }}<br/>{% endfor %}</pre>
        </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
