<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ name | escape }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
</head>
<body>

    <div class="container" id="content">

        <h1>{{ name | escape }} </h1>

        <div class="row">
            <div>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Run</th>
                            <td>{{ description | escape }}</td>
                        </tr>
                        <tr>
                            <th>Executed</th>
                            <td>{{ dt.strftime("%Y-%m-%d %H:%M") | escape }} using <a href="https://github.com/grahame/dividebatur">dividebatur</a></td>
                        </tr>
                        <tr>
                            <th>House</th>
                            <td>{{ house | escape }} ({{ state | escape }})</td>
                        </tr>
                        <tr>
                            <th>Vacancies</th>
                            <td>{{ counter.vacancies | numberfmt }}</td>
                        </tr>
                        <tr>
                            <th>Total papers</th>
                            <td>{{ counter.total_papers | numberfmt }}</td>
                        </tr>
                        <tr>
                            <th>Quota for election</th>
                            <td>{{ counter.quota | numberfmt }}</td>
                        </tr>
                        <tr>
                            <th>Rounds of counting</th>
                            <td>{{ number_rounds | numberfmt }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% for round in rounds %}

        <div class="row">

            <a name="round{{round.number|escape}}"></a>
            <h2>Round {{round.number|numberfmt}}</h2>

            {% if round.pre %}
            {% for post in round.pre %}
                <pre>{{ post | escape }}</pre>
            {% endfor %}
            {% endif %}

            <table class="table table-bordered">
                <colgroup>
                   {% if round.count.before %}
                   <col span="1" style="width: 50%;">
                   <col span="1" style="width: 10%;">
                   <col span="1" style="width: 10%;">
                   <col span="1" style="width: 10%;">
                   {% else %}
                   <col span="1" style="width: 50%;">
                   <col span="1" style="width: 10%;">
                   <col span="1" style="width: 10%;">
                   <col span="1" style="width: 10%;">
                   <col span="1" style="width: 10%;">
                   <col span="1" style="width: 10%;">
                   {% endif %}
                </colgroup>
                <tbody>
                <tr>
                    {% if round.count.before %}
                    <th>Candidate</th>
                    <th>Δ&nbsp;Papers</th>
                    <th>Papers</th>
                    <th>Δ&nbsp;Votes</th>
                    <th>Votes</th>
                    <th>Quotas</th>
                    {% else %}
                    <th>Candidate</th>
                    <th>Papers</th>
                    <th>Votes</th>
                    <th>Quotas</th>
                    {% endif %}
                </tr>
                {% for candidate in round.count.candidates %}
                    {% if not candidate.done %}
                    <tr>
                        <th>
                            {{ candidate.title }}
                            {% if candidate.elected %}
                            <span class="badge">{{candidate.elected}}</span>
                            {% endif %}
                            {% if candidate.excluded %}
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            {% endif %}
                        </th>
                        {% if round.count.before %}
                        <td>
                        {% if candidate.delta.papers > 0 %}
                        +{{ candidate.delta.papers }}
                        {% endif %}
                        {% if candidate.delta.papers < 0 %}
                        {{ candidate.delta.papers }}
                        {% endif %}
                        </td>
                        {% endif %}
                        <td>{{ candidate.after.papers}}</td>
                        {% if round.count.before %}
                        <td>
                        {% if candidate.delta.votes > 0 %}
                        +{{ candidate.delta.votes }}
                        {% endif %}
                        {% if candidate.delta.votes < 0 %}
                        {{ candidate.delta.votes }}
                        {% endif %}
                        </td>
                        {% endif %}
                        <td>{{ candidate.after.votes }}</td>
                        <td>{{ candidate.after.quotas | f2 }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

            {% if round.post %}
            {% for post in round.post %}
                <pre>{{ post | escape }}</pre>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}

        <h2>Elected Candidates</h2>

        <ol>
            {% for title in summary.elected %}
                <li>{{ title | escape }}</li>
            {% endfor %}
        </ol>

        <h2>Excluded Candidates</h2>

        <ol>
            {% for title in summary.excluded %}
                <li>{{ title | escape }}</li>
            {% endfor %}
        </ol>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
