<div class="container" id="content">

    <div class="row" ng-cloak>
        <h1>{{ parameters.name }} </h1>
    </div>

    <count-summary ng-cloak></count-summary>

    <div class="row" ng-cloak>

        <h2>Round 1</h2>

        <table class="table table-bordered">
            <colgroup>
                <col span="1" style="width: 70%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <tbody>
                <tr>
                    <th>Candidate</th>
                    <th>Votes %</th>
                    <th>Votes</th>
                    <th>Quotas</th>
                </tr>
                <tr ng-repeat="state in first_round.count.candidates">
                    <th>
                        <candidate parties="parties" candidates="candidates" id="state.id"></candidate>
                        <state-badges state="state"></state-badges>
                    </th>
                    <td>{{ state.after.votes * 100 / parameters.total_papers | f2 }}%</td>
                    <td>{{ state.after.votes | numberfmt }}</td>
                    <td>{{ state.after.votes / parameters.quota | f2 }}</td>
                </tr>
            </tbody>
        </table>

        <count-notes round="first_round"></count-notes>
        <candidate-excluded round="first_round" candidates="candidates" parties="parties"></candidate-excluded>
        <candidate-elected round="first_round" candidates="candidates" parties="parties"></candidate-elected>
    </div>

    <div class="row" ng-repeat="round in later_rounds" ng-cloak>

        <h2>Round {{round.number|numberfmt}}</h2>

        <p ng-if="round.distribution.type == 'election'">
            Distribution of elected candidate 
            <candidate parties="parties" candidates="candidates" id="round.distribution.candidate_id"></candidate>
            at transfer value {{ round.distribution.transfer_value | f2 }}
        </p>
        <p ng-if="round.distribution.type == 'exclusion'">
            Exclusion of candidate
            <candidate parties="parties" candidates="candidates" id="round.distribution.candidate_id"></candidate>:
            distribution of papers with transfer value {{ round.distribution.transfer_value | f2 }}
        </p>

        <table class="table table-bordered">
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <tbody>
                <tr>
                    <th>Candidate</th>
                    <th>Δ&nbsp;Papers</th>
                    <th>Papers</th>
                    <th>Δ&nbsp;Votes</th>
                    <th>Votes</th>
                    <th>Quotas</th>
                </tr>
                <tr ng-repeat="state in round.count.candidates">
                    <th>
                        <candidate parties="parties" candidates="candidates" id="state.id"></candidate>
                        <state-badges state="state"></state-badges>
                    </th>
                    <td>
                        <span>{{ state.delta.papers | plus }}{{ state.delta.papers | numberfmt }}</span>
                    </td>
                    <td>{{ state.after.papers | numberfmt }}</td>
                    <td>{{ state.after.votes | numberfmt }}</td>
                    <td>
                        <span>{{ state.delta.votes | plus }}{{ state.delta.votes | numberfmt }}</span>
                    </td>
                    <td>{{ state.after.votes / parameters.quota | f2 }}</td>
                </tr>
            </tbody>
        </table>
        <count-notes round="round"></count-notes>
        <candidate-excluded round="round" candidates="candidates" parties="parties"></candidate-excluded>
        <candidate-elected round="round" candidates="candidates" parties="parties"></candidate-elected>
    </div>

    <div class="row">
        <h2>Elected Candidates</h2>

        <ol>
        <li ng-repeat="id in summary.elected">
        <candidate parties="parties" candidates="candidates" id="id"></candidate>
        </li>
        </ol>
    </div>

    <div class="row">
        <h2>Excluded Candidates</h2>

        <ol>
            <li ng-repeat="id in summary.excluded"><candidate parties="parties" candidates="candidates" id="id"></candidate></li>
        </ol>
    </div>

</div>
