<div class="row">
    <h2>Elected Candidates</h2>

    <ol>
    <li ng-repeat="outcome in summary.elected">
        <candidate parties="parties" candidates="candidates" id="outcome.id"></candidate> in <round-link shortname="shortname" round="outcome.round"></round-link>
    </li>
    </ol>
</div>

<div class="row">
    <h2>Excluded Candidates</h2>

    <ol>
    <li ng-repeat="outcome in summary.excluded">
        <candidate parties="parties" candidates="candidates" id="outcome.id"></candidate> in <round-link shortname="shortname" round="outcome.round"></round-link>
    </li>
    </ol>
</div>
