<div class="row">
    <div>
        <table class="table table-bordered">
            <colgroup>
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 70%;">
            </colgroup>
            <tbody>
                <tr>
                    <th>Run</th>
                    <td>{{ parameters.description }}</td>
                </tr>
                <tr>
                    <th>Executed</th>
                    <td>{{ parameters.dt }} using <a href="https://github.com/grahame/dividebatur">dividebatur</a></td>
                </tr>
                <tr>
                    <th>House</th>
                    <td>{{ parameters.house }} ({{ parameters.state }})</td>
                </tr>
                <tr>
                    <th>Vacancies</th>
                    <td>{{ parameters.vacancies | numberfmt }}</td>
                </tr>
                <tr>
                    <th>Total papers</th>
                    <td>{{ parameters.total_papers | numberfmt }}</td>
                </tr>
                <tr>
                    <th>Quota for election</th>
                    <td>{{ parameters.quota | numberfmt }}</td>
                </tr>
                <tr>
                    <th>Counts required</th>
                    <td>{{ rounds | numberfmt }} (<a href="#/scenario/{{shortname}}/count/1">first count</a>, 
                    <a href="#/scenario/{{shortname}}/count/{{rounds}}">last count</a>)</td>
                </tr>
                <tr>
                    <th>Count data (JSON)</th>
                    <td><a href="{{data_link}}">{{data_link}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
